@use "variables" as v;

.todo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 13rem;
  gap: 1.45rem;
}

.background img {
  height: 20rem;
}

header {
  gap: 2.3em;
}

.todo__title {
  justify-content: space-between;

  h1 {
    color: v.$vr-lt-gy;
    font-size: 2.5rem;
    letter-spacing: 1.2rem;
  }

  img {
    width: 2rem;
  }
}

.todo__input input {
  width: 100%;
  padding: 1.5rem 5rem;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.todo__list {
  border-radius: 0.5rem;

  &-items {
    background-color: v.$vr-lt-gy;
  }

  &-items-item {
    padding: 1.6rem 2.3rem;
    justify-content: space-between;
    border-bottom: 1px solid v.$vr-lt-gyish-bl;
    align-items: center;
  }
}

.task {
  gap: 1rem;
  align-items: center;
  button {
    // display: none;
    background: v.$gradient;
    padding: 0.25rem 0.45rem;
    border-radius: 50%;
  }
}

.task li {
  font-size: 1.3rem;
  color: v.$vr-dk-gyish-blue;
  max-width: 20rem;
  line-height: 1.4;
  margin-top: .3rem;
}

.delete button img {
  width: 1.35rem;
}

.todo__list-info {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "data data data"
    "state state state";
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;

  .data {
    grid-area: data;
    justify-content: space-between;
    padding: 2.25rem;
    background-color: v.$vr-lt-gy;

    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);

    p {
      font-size: 1.15rem;
      color: v.$dk-gyish-bl;
    }

    button {
      color: v.$dk-gyish-bl;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.25rem;
    }
  }

  .buttons {
    grid-area: state;
    justify-content: center;
    gap: 2rem;
    background-color: v.$vr-lt-gy;
    padding-block: 1.5rem;
    box-shadow: 0px -3px 25px -1px rgba(0, 0, 0, 0.25);

    button {
      color: v.$dk-gyish-bl;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}
