@use "variables" as v;

.todo {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 2rem;
}

body {
  background-color: rgb(63, 60, 60);
}

.background img{
    height: 17.5rem;
}

header {
  gap: 3rem;
}

.todo__title {
  justify-content: space-between;

  h1 {
    color: v.$vr-lt-gy;
    font-size: 2.5rem;
    letter-spacing: 1.2rem;
  }

  img {
    width: 2rem;
  }
}

.todo__input input {
  width: 100%;
  padding: 1.5rem 5rem;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.todo__list{
    background-color: v.$vr-lt-gy;
}


