*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  margin-bottom: 15rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.width {
  width: 95%;
  margin-inline: auto;
}

.todo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #3f3c3c;
}