*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
}
input:focus {
  outline: none;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.35);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.width {
  width: 92%;
  margin-inline: auto;
}

.todo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 13rem;
  gap: 1.45rem;
}

.background img {
  height: 20rem;
}

header {
  gap: 2.3em;
}

.todo__title {
  justify-content: space-between;
}
.todo__title h1 {
  color: #fafafa;
  font-size: 2.5rem;
  letter-spacing: 1.2rem;
}
.todo__title img {
  width: 2rem;
}

.todo__input input {
  width: 100%;
  padding: 1.5rem 5rem;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.todo__list {
  border-radius: 0.5rem;
}
.todo__list-items {
  background-color: #fafafa;
}
.todo__list-items-item {
  padding: 1.6rem 2.3rem;
  justify-content: space-between;
  border-bottom: 1px solid #e4e5f1;
  align-items: center;
}

.task {
  gap: 1rem;
  align-items: center;
}
.task button {
  background: linear-gradient(#57ddff, #c058f3);
  padding: 0.25rem 0.45rem;
  border-radius: 50%;
}

.task li {
  font-size: 1.3rem;
  color: #484b6a;
  max-width: 20rem;
  line-height: 1.4;
  margin-top: 0.3rem;
}

.delete button img {
  width: 1.35rem;
}

.todo__list-info {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "data data data" "state state state";
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.todo__list-info .data {
  grid-area: data;
  justify-content: space-between;
  padding: 2.25rem;
  background-color: #fafafa;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
}
.todo__list-info .data p {
  font-size: 1.15rem;
  color: #9394a5;
}
.todo__list-info .data button {
  color: #9394a5;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
}
.todo__list-info .buttons {
  grid-area: state;
  justify-content: center;
  gap: 2rem;
  background-color: #fafafa;
  padding-block: 1.5rem;
  box-shadow: 0px -3px 25px -1px rgba(0, 0, 0, 0.25);
}
.todo__list-info .buttons button {
  color: #9394a5;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}